<!DOCTYPE html>
<html>

<head>
    <title>{$title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link rel="stylesheet" type="text/css" href="%r_css%">
</head>

<body>
    <div class="container">

        <table style="width: 100%;">
            <tr>
                <td>{$name_title} {{$package}}</td>
                <td style="text-align: right;">R Documentation</td>
            </tr>
        </table>

        <h2>{$title}</h2>

        <h3>Description</h3>

        {$summary}

        <h3>Usage</h3>

        <div style="width: 100%; padding-left: 3%; color: black;">
            <pre><code class='language-R' style="color: black; font-weight:normal;">{$usage};</code></pre>
        </div>

        <h3>Arguments</h3>

        <table>
            {$arguments}
        </table>


        <h3 style="display: {$show_details};">Details</h3>

        {$details}


        <h3>Value</h3>

        {$value}

        <h3 style="display: {$show_examples};">Examples</h3>

        {$examples}

        <hr />
        <div style="text-align: center;">[Package <em>{$package}</em> version {$version} <a
                href="../{$package}.html">Index</a>]
        </div>
    </div>
</body>

<script type="text/javascript" src="%r_syntax%"></script>
<script type="text/javascript" src="%r_highlights%"></script>
<script type="text/javascript">r_highlights("example_r");</script>

</html>